.form-signup{
    width: 100%;
    min-height: 80vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    display: flex; 
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.form-signup .title{
    font-weight: 600;
    font-size: 1.7em;
}

.profile{ width: 100%; display: flex; justify-content: center; margin-bottom: 2rem;}
.img-profile{
    width: 8rem;
    height: 8rem;
    background-size: cover;
    border-radius: 50%;
}
.form-signup form { width: 90%;} 
.form-signup form ion-input{ 
    border: 1px solid #ddd;
    border-radius: 10px;
 
    --padding-start: .5rem;
    margin: .5rem 0 ;
}
.form-signup form select{
    width: 100%;
    padding: .6rem .3rem .6rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: .5rem 0 ;

}
.custom-select {
  color: black; /* สีฟ้อน */
  background-color: white; /* พื้นหลัง */
}
.custom-select option {
  color: black; /* สีฟ้อนของ option */
}
